:root {
  --black: #181a1b;
  --white: #fff;
} 

body {
  --background-1: var(--white);
  --text-1: var(--black);
}

body[data-theme=dark] {
  --background-1: var(--black);
  --text-1: var(--white);
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-1);
  color: var(--text-1);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
